# # Server
# PORT=3000
# NODE_ENV=production

# # MySQL Database
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=u630923719_rootuser
# DB_PASSWORD=Th959Q5pfdgqp7#
# DB_NAME=u630923719_rootandrise_db

# # JWT
# JWT_SECRET=supersecurekey123
# JWT_EXPIRES_IN=7d

# # Upload directory
# UPLOAD_DIR=uploads

# # Frontend URL
# FRONTEND_URL=https://your-frontend-domain.com